# data file
data/
ref/
diffpool/model_param/
diffpool/model_param_*/
diffpool/try_param/
diffpool/bk/
diffpool/predict_data/

bk/
GT_B_part/
GT_B_part/data/
GT_B_part/diffpool/model_param/
GT_B_part/diffpool/model_param_*/
GT_B_part/diffpool/try_param/
