# data file
data/
data2/
ref/
diffpool_2/
diffpool/model_param/
diffpool/result/
diffpool/model_param_*/
diffpool/try_param/
diffpool/bk/
diffpool/predict_data/
diffpool/predict_data*/
diffpool/predict_data_bk/
diffpool/nohup.out
diffpool/__pycache__/
diffpool/NGT_results*/
temp/
writing.txt



bk/
GT_B_part/
GT_B_part/data/
GT_B_part/diffpool/model_param/
GT_B_part/diffpool/model_param_*/
GT_B_part/diffpool/try_param/

GraphCBAM/ImprovedStruct2Go_main/
GraphCBAM/log/
GraphCBAM/data/
GraphCBAM/
.vscode/

